.gallery {
    background-color: var(--secondary-color);
}

.gallery-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-tab {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.gallery-tab.active, 
.gallery-tab:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: none;
}

.gallery-container.active {
    display: grid;
}

.gallery-item {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item:hover .gallery-image {
    transform: scale(1.1);
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-icon {
    color: var(--light-color);
    font-size: 2rem;
}