<!-- Hero Section -->
<section id="home" class="hero">
	<div class="hero-content">
		<h1>Quốc Việt & Thanh Thủy</h1>
		<div class="divider"></div>
		<p>We're getting married!</p>
		<p class="date">MAY 8, 2025</p>
		<a href="#rsvp-content" class="btn">RSVP</a>
	</div>
</section>

<!-- Countdown Section -->
<section class="countdown">
	<div class="container">
		<h2>Counting Down to Our Big Day</h2>
		<div class="countdown-timer" id="countdown">
			<div class="countdown-item">
				<div class="countdown-number" id="days">00</div>
				<div class="countdown-text">DAYS</div>
			</div>
			<div class="countdown-item">
					<div class="countdown-number" id="hours">00</div>
					<div class="countdown-text">HOURS</div>
			</div>
			<div class="countdown-item">
				<div class="countdown-number" id="minutes">00</div>
				<div class="countdown-text">MINUTES</div>
			</div>
			<div class="countdown-item">
				<div class="countdown-number" id="seconds">00</div>
				<div class="countdown-text">SECONDS</div>
			</div>
		</div>
	</div>
</section>