<nav id="navbar" class="sticky-top">
  <div class="container nav-container">
    <a href="#" class="logo">Quốc Việt & Thanh Thủy</a>
    <div style="display: flex; align-items: center; justify-content: flex-end; flex: 1;">
      <ul class="menu" id="menu">
        <li><a href="#home-content" class="nav-link" data-en="HOME" data-vi="TRANG CHỦ">HOME</a></li>
        <li><a href="#couple-intro-content" class="nav-link" data-en="THE COUPLE" data-vi="CẶP ĐÔI">THE COUPLE</a></li>
        <li><a href="#couple-content" class="nav-link" data-en="OUR STORY" data-vi="CÂU CHUYỆN">OUR STORY</a></li>
        <li><a href="#events-content" class="nav-link" data-en="EVENTS" data-vi="SỰ KIỆN">EVENTS</a></li>
        <li><a href="#gallery-content" class="nav-link" data-en="ALBUM" data-vi="ALBUM">ALBUM</a></li>
        <li><a href="#rsvp-content" class="nav-link" data-en="RSVP" data-vi="PHẢN HỒI">RSVP</a></li>
        <li class="language-switcher">
          <div class="language-btn" id="language-btn">
            <img src="images/flags/united-states.png" alt="English" id="current-language-flag">
            <span id="current-language">ENGLISH</span>
            <i class="fas fa-chevron-down" style="margin-left: auto; font-size: 0.8rem;"></i>
          </div>
          <div class="language-dropdown" id="language-dropdown">
            <div class="language-option" data-lang="en">
              <img src="images/flags/united-states.png" alt="English">
              <span>ENGLISH</span>
            </div>
            <div class="language-option" data-lang="vi">
              <img src="images/flags/vietnam.png" alt="Vietnamese">
              <span>VIETNAMESE</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
</nav>